html, body {
    height: 100%;
    overflow: hidden;
}

.container {
    background: url("../img/background-wood.jpg");
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Areas */

.top-bowl-area {
    order: 0;
    align-self: flex-start;
    position: static;
    left: 0;
    top: 0;
    width: 50%;
    height: 10%;
}

.board-area {
    order: 1;
    align-self: center;
    position: static;
    left: 0;
    top: 10%;
    width: 100%;
    bottom: 10%;
}

.bottom-bowl-area {
    order: 2;
    align-self: flex-end;
    position: static;
    left: 50%;
    bottom: 0;
    width: 50%;
    height: 10%;
}

/* Board */

.board {
    background: url("../img/board.bmp") no-repeat;
    background-size: contain;
    position: static;
    box-shadow: 0 0 40px rgba(0, 0, 0, 1);
}

.grid {
    display: grid;
    justify-content: stretch;
    align-content: stretch;
}

.grid-item {
    justify-self: center;
    align-self: center;
}

.grid-cross {
    background: url("../img/grid-cross.svg");
    background-size: contain;
}

.grid-cross-dot {
    background: url("../img/grid-cross-dot.svg");
    background-size: contain;
}

.grid-top {
    background: url("../img/grid-top.svg");
    background-size: contain;
}

.grid-bottom {
    background: url("../img/grid-bottom.svg");
    background-size: contain;
}

.grid-left {
    background: url("../img/grid-left.svg");
    background-size: contain;
}

.grid-right {
    background: url("../img/grid-right.svg");
    background-size: contain;
}

.grid-top-left {
    background: url("../img/grid-top-left.svg");
    background-size: contain;
}

.grid-top-right {
    background: url("../img/grid-top-right.svg");
    background-size: contain;
}

.grid-bottom-left {
    background: url("../img/grid-bottom-left.svg");
    background-size: contain;
}

.grid-bottom-right {
    background: url("../img/grid-bottom-right.svg");
    background-size: contain;
}

/* Bowls */
.bowl {
    width: 100%;
    height: 100%;
}

.bowl-black {
    background: url("../img/black-bowl.bmp") no-repeat;
    background-size: contain;
}

.bowl-white {
    background: url("../img/white-bowl.bmp") no-repeat;
    background-size: contain;
}

.bowl-stone {
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0.1;
}

/* Stones */

.stone {
    position: absolute;
}

.stone-black {
    background: url("../img/stone-black.png");
    background-size: contain;
}

.stone-white {
    background: url("../img/stone-white.png");
    background-size: contain;
}

/* Utils */
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Adaptive design

board.height = grid-item.height * 19
bowls.height = board.height * 0.2 / 0.8 = board.height * 0.25
max-height > board.height + bowls.height
max-width > board.height
*/
.board {
    width: 760px;
    height: 760px;
}

.grid-item, .stone {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 800px), screen and (max-height: 970px) {
    .board {
        width: 665px;
        height: 665px;
    }

    .grid-item, .stone {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 700px), screen and (max-height: 850px) {
    .board {
        width: 570px;
        height: 570px;
    }

    .grid-item, .stone {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 600px), screen and (max-height: 730px) {
    .board {
        width: 475px;
        height: 475px;
    }

    .grid-item, .stone {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 500px), screen and (max-height: 610px) {
    .board {
        width: 380px;
        height: 380px;
    }

    .grid-item, .stone {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 400px), screen and (max-height: 490px) {
    .board {
        width: 285px;
        height: 285px;
    }

    .grid-item, .stone {
        width: 15px;
        height: 15px;
    }
}
