.background {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    justify-content: stretch;
    align-content: stretch;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Areas */

.top-bowl-area {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: end;

    background: darkgrey;
}

.board-area {
    grid-column: 1 / 6;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    background: bisque;
}

.bottom-bowl-area {
    grid-column: 4;
    grid-row: 3;
    justify-self: center;
    align-self: start;
    background: lightgrey;
}

/* Board */

.board {
    background: url("../img/board.bmp") no-repeat;
    background-size: contain;
    position: static;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.grid {
    font-size: 0;
}

.grid-cross {
    display: inline-block;
    content: url("../img/grid-cross.svg");
}

.grid-cross-dot {
    display: inline-block;
    content: url("../img/grid-cross-dot.svg");
}

.grid-top {
    display: inline-block;
    content: url("../img/grid-top.svg");
}

.grid-bottom {
    display: inline-block;
    content: url("../img/grid-bottom.svg");
}

.grid-left {
    display: inline-block;
    content: url("../img/grid-left.svg");
}

.grid-right {
    display: inline-block;
    content: url("../img/grid-right.svg");
}

.grid-top-left {
    display: inline-block;
    content: url("../img/grid-top-left.svg");
}

.grid-top-right {
    display: inline-block;
    content: url("../img/grid-top-right.svg");
}

.grid-bottom-left {
    display: inline-block;
    content: url("../img/grid-bottom-left.svg");
}

.grid-bottom-right {
    display: inline-block;
    content: url("../img/grid-bottom-right.svg");
}

/* Objects */
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.black-bowl {
    border-radius: 50%;
    height: 200%;
    content: url("../img/black-bowl.bmp");
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.white-bowl {
    border-radius: 50%;
    height: 200%;
    content: url("../img/white-bowl.bmp");
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.stone {
    content: url("../img/stone.bmp");
    border-radius: 50%;
}
