html, body {
    height: 100%;
}

.background {
    background: url("../img/background-wood.jpg");
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Areas */

.top-bowl-area {
    background: darkgrey;
    position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    height: 10%;
}

.board-area {
    position: fixed;
    left: 0;
    top: 10%;
    width: 100%;
    bottom: 10%;
    z-index: 1;
}

.bottom-bowl-area {
    background: lightgrey;
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 50%;
    height: 10%;
}

/* Board */

.board {
    background: url("../img/board.bmp") no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 40px rgba(0, 0, 0, 1);
    width: 760px;
    height: 760px;
}

.grid {
    display: grid;
    justify-content: stretch;
    align-content: stretch;
}

.grid-item {
    justify-self: center;
    align-self: center;
    width: 40px;
    height: 40px;
}

.grid-cross {
    background: url("../img/grid-cross.svg");
    background-size: contain;
}

.grid-cross-dot {
    background: url("../img/grid-cross-dot.svg");
    background-size: contain;
}

.grid-top {
    background: url("../img/grid-top.svg");
    background-size: contain;
}

.grid-bottom {
    background: url("../img/grid-bottom.svg");
    background-size: contain;
}

.grid-left {
    background: url("../img/grid-left.svg");
    background-size: contain;
}

.grid-right {
    background: url("../img/grid-right.svg");
    background-size: contain;
}

.grid-top-left {
    background: url("../img/grid-top-left.svg");
    background-size: contain;
}

.grid-top-right {
    background: url("../img/grid-top-right.svg");
    background-size: contain;
}

.grid-bottom-left {
    background: url("../img/grid-bottom-left.svg");
    background-size: contain;
}

.grid-bottom-right {
    background: url("../img/grid-bottom-right.svg");
    background-size: contain;
}

/* Objects */
.black-bowl {
    background: url("../img/black-bowl.bmp") no-repeat;
    background-size: contain;
}

.white-bowl {
    background: url("../img/white-bowl.bmp") no-repeat;
    background-size: contain;
}

.stone {
    background: url("../img/stone.bmp");
    border-radius: 50%;
    width: 40px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

/* Utils */
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Adaptive design */
@media screen and (max-width: 800px), screen and (max-height: 980px) {
    .board {
        width: 570px;
        height: 570px;
    }

    .grid-item {
        width: 30px;
        height: 30px;
    }

    .stone {
        width: 30px;
    }
}

@media screen and (max-width: 600px), screen and (max-height: 740px) {
    .board {
        width: 475px;
        height: 475px;
    }

    .grid-item {
        width: 25px;
        height: 25px;
    }

    .stone {
        width: 25px;
    }
}

@media screen and (max-width: 500px), screen and (max-height: 640px) {
    .board {
        width: 380px;
        height: 380px;
    }

    .grid-item {
        width: 20px;
        height: 20px;
    }

    .stone {
        width: 20px;
    }
}

@media screen and (max-width: 400px), screen and (max-height: 500px) {
    .board {
        width: 285px;
        height: 285px;
    }

    .grid-item {
        width: 15px;
        height: 15px;
    }

    .stone {
        width: 15px;
    }
}